@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #143601;
  --color-bg-light: #fefae0;
  --color-accent: #8dc63f;
  --color-text-dark: #143601;
  --color-text-light: #fefae0;
  --color-star: #f4d03f;
  --color-bubble: rgba(141, 198, 63, 0.15);
}

html {
  scroll-behavior: auto;
  overflow-x: hidden;

}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text-light);
  overflow-x: hidden;
  cursor: none;
  /* We use a custom cursor */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Custom Cursor */
.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: var(--color-bg-light);
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
  will-change: transform;
}

/* Override selection color */
::selection {
  background-color: var(--color-accent);
  color: var(--color-text-dark);
}